# Amazon Sales Data Analysis

In [2]:
import pandas as pd
import numpy as np
import plotly.express as px

In [3]:
df = pd.read_csv('../resources/amazon_sales_dataset.csv')

In [4]:
df.head(10)

,order_id,order_date,product_id,product_category,price,discount_percent,quantity_sold,customer_region,payment_method,rating,review_count,discounted_price,total_revenue
0,1,2022-04-13,2637,Books,128.75,10,4,North America,UPI,3.5,443,115.88,463.52
1,2,2023-03-12,2300,Fashion,302.60,20,5,Asia,Credit Card,3.7,475,242.08,1210.40
2,3,2022-09-28,3670,Sports,495.80,20,2,Europe,UPI,4.4,183,396.64,793.28
3,4,2022-04-17,2522,Books,371.95,15,4,Middle East,UPI,5.0,212,316.16,1264.64
4,5,2022-03-13,1717,Beauty,201.68,0,4,Middle East,UPI,4.6,308,201.68,806.72
5,6,2023-12-02,1777,Sports,385.17,30,3,Asia,Wallet,3.8,489,269.62,808.86
6,7,2022-01-21,4068,Books,15.78,0,5,Asia,UPI,1.6,415,15.78,78.90
7,8,2023-09-07,3537,Fashion,111.59,30,4,Middle East,UPI,3.4,143,78.11,312.44
8,9,2022-05-02,3262,Books,373.62,0,4,Asia,Wallet,2.8,497,373.62,1494.48
9,10,2023-04-12,4174,Sports,134.81,15,2,Middle East,Cash on Delivery,2.0,25,114.59,229.18

In [5]:
df.columns

Index(['order_id', 'order_date', 'product_id', 'product_category', 'price',
       'discount_percent', 'quantity_sold', 'customer_region',
       'payment_method', 'rating', 'review_count', 'discounted_price',
       'total_revenue'],
      dtype='object')

In [6]:
df['product_category'].value_counts().reset_index()

  product_category  count
0           Beauty   8465
1          Fashion   8365
2            Books   8327
3      Electronics   8320
4           Sports   8265
5   Home & Kitchen   8258

In [7]:
df['customer_region'].value_counts().reset_index()

  customer_region  count
0            Asia  12526
1   North America  12517
2     Middle East  12505
3          Europe  12452

In [8]:
df['payment_method'].value_counts().reset_index()

     payment_method  count
0            Wallet  10106
1               UPI  10078
2        Debit Card   9981
3  Cash on Delivery   9927
4       Credit Card   9908

In [16]:
df.isnull().sum().reset_index()

               index  0
0           order_id  0
1         order_date  0
2         product_id  0
3   product_category  0
4              price  0
5   discount_percent  0
6      quantity_sold  0
7    customer_region  0
8     payment_method  0
9             rating  0
10      review_count  0
11  discounted_price  0
12     total_revenue  0

In [ ]:
category_amount_sold = df.groupby('product_category')['quantity_sold'].sum().reset_index()
category_amount_sold

  product_category  quantity_sold
0           Beauty          25422
1            Books          25065
2      Electronics          24898
3          Fashion          25089
4   Home & Kitchen          24743

In [ ]:
fig = px.pie(
    category_amount_sold,
    names='product_category',
    values='quantity_sold',
    hole=0.3,
    color_discrete_map='',
    title='Pie Graph of Prodcut Categories Sales',
    labels={
        'product_category' : 'Product Category',
        'quantity_sold' : 'Quantity Sold'
    }
)  
fig.update_traces(textinfo='label+value')
fig.show()